:root {
    --clr-blue: hsl(200, 100%, 50%);
    --clr-red: hsl(0, 100%, 50%);
    --clr-green: hsl(136, 100%, 30%);
    --clr-yellow: hsl(55, 100%, 50%);
    --clr-border: hsl(0, 0%, 0%);
}

body {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

/* Board rows */

.first-row,
.second-row,
.third-row {
    display: flex;
}

/* Player start area */

.start-area-wrapper {
    width: 300px;
    height: 300px;
    background-color: #1195e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-area {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.start-area-player-ring {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    transform-origin: center;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    background-color: #1195e4;
}

/* Board squares */

.board-squares {
    width: 150px;
    height: 300px;
    background-color: rgb(224, 215, 215);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.board-square {
    width: 47px;
    height: 47px;
    border: 1px solid black;
}

.board-squares-rotated {
    width: 300px;
    height: 150px;
    background-color: rgb(224, 215, 215);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
}

/* Center triangles */

.triangles-center {
    display: inline-block;
    border-left: 75px solid var(--clr-blue);
    border-right: 75px solid var(--clr-green);
    border-bottom: 75px solid var(--clr-red);
    border-top: 75px solid var(--clr-yellow);
}