:root {
    --clr-dice-side: red;
    --clr-dice-border: black;
    --clr-dice-number-ring: white;
    --clr-dice-number-ring-border: black;
    --br-dice-side: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dice general classes */

/* Remove dice width and height in the future! */
.dice {
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    /* perspective: 700px; OVO ISTRAZITI JOŠ!! */
    perspective-origin: 40% 40%;
    animation: rotate 5s linear infinite;
    margin-top: 400px;
}

.dice-side {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--clr-dice-side);
    border: 1px solid var(--clr-dice-border);
}

.dice-number-ring {
    width: 20px;
    height: 20px;
    border: 1px solid var(--clr-dice-number-ring-border);
    border-radius: 50%;
    background-color: var(--clr-dice-number-ring);
}

/* Side one */
.side-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Side two */

.side-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.side-two-column-one {
   align-self: end;
   margin: 26px;
}

.side-two-column-two {
    align-self: start;
    margin: 26px;
}

/* Side three */

.side-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.side-three-column-one {
    margin: 26px 0px 0px 26px;
}

.side-three-column-two {
    justify-self: center; 
    align-self: center;
}

.side-three-column-three {
    justify-self: end;
    align-self: end;
    margin: 0px 26px 26px 0px;
}

/* Side four */

.side-four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.side-four-column-one {
   align-self: end;
   margin: 26px;
}

.side-four-column-two {
    align-self: start;
    margin: 26px;
}

/* Side five */

.side-five {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.side-five-column-one {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.side-five-column-two {
    justify-self: center; 
    align-self: center;
}

.side-five-column-three {
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
}

/* Side six */

.side-six {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.side-six-column-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.side-six-column-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

/* Dice utillity classes for 3D transform style */

.front {
    transform: rotateX(0deg) translateZ(75px);
}

.top {
    transform: rotateX(90deg) translateZ(75px);
}

.right {
    transform: rotateY(90deg) translateZ(75px);
}

.left {
    transform: rotateX(90deg) rotateY(90deg)  translateZ(-75px) translateX(0px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(75px);
}

.back {
    transform: rotateY(-180deg) translateZ(75px);
}

/* Dice animation */
/* For rotating the cube on X axis, just change to rotateX in from and to part */

@keyframes rotate {
    from {
      transform: rotateY(0) rotateX(45deg) rotateZ(45deg);
    }
    to {
      transform: rotateY(360deg) rotateX(45deg) rotateZ(45deg);
    }
  }